.container{
    background-color: black;
width: 100%;
}

.logo{
     text-align: left;
  font-size: 15px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 20px;
  font-weight: bold;
  position: relative;
  border: 5px solid #E98074;
  border-radius: 15px;
  color: #ffffff;
}